<?xml version="1.0" encoding="UTF-8"?>
  <Installer>
      <Name>CFD Client Program</Name>
      <Version>0.0.1</Version>
      <Title>Client Program installer</Title>
      <Publisher>SimCenter</Publisher>
      <StartMenuDir>SimCenter CFD</StartMenuDir>
      <TargetDir>@HomeDir@/SimCenterCFD</TargetDir>
      <MaintenanceToolName>RemoveSimCenterCFD</MaintenanceToolName>
  </Installer>
